.container {
  display: flex;
  justify-content: flex-end;
}

.dashboardLibraryContainer {
  background-color: var(--bg-primary);
  width: 88%;
  border-radius: 32px 0 0;
  box-shadow: 0 0 8px 0 var(--drop-shadow);
  padding: 18px;
}

@media (max-width: 767px) {
  .dashboardLibraryContainer {
    width: 100%;
  } 
}