.homeContainer {
  margin-top: 30px;
}

.homeSelectTab {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 72%;
  margin: auto;
}

.tabSeparator {
  border: none;
  height: 1px;
  background-color: rgba(231, 231, 231, 1);
}

.selectTab {
  display: flex;
  gap: 25px;
}

.selectTab li {
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  align-items: center;
  padding: 8px;
  color: var(--primary-text);
}

.active {
  border-bottom: 6px solid var(--bg-secondary);
}

@media (max-width: 767px) {
  .homeContainer {
    margin-top: 0;
  }

  .favoritesBooksContainer {
    width: 95%;
  }

  .tabSeparator {
    display: none;
  }

  .homeSelectTab {
    background-color: var(--bg-primary);
    padding: 10px;
    width: 100%;
    border-radius: 0 0 32px;
    margin: -1px 0;
  }
}