.listFavoritsBooksContainer {
  width: 74%;
  height: 330px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 58px;
}

.listBooks {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  height: 100%;
  overflow-x: scroll;
  padding: 15px;
}

.listBooks::-webkit-scrollbar {
  display: none;
}

.listBooks a {
  width: 136px;
  height: 262px;
  padding: 4px;
  text-decoration: none;
}

.listBooks a img {
  width: 136px;
  height: 198px;
  border-radius: 10px;
  border: none;
} 

.listBooks h4 {
  font-size: 16px;
  line-height: 18px;
  color: var(--primary-text);
  margin: 5px 0 2px 4px;
}

.listBooks p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--subtitle);
  margin-left: 4px;
}

.favoritesBooksContainer {
  width: 98%;
  margin: auto;
  margin-top: 10px;
}

.favoritesBooksHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.favoritesBooksHeader h1 {
  font-size: 28px;
  line-height: 32px;
  color: var(--primary-text);
}

.favoritesBooksHeader span {
  font-size: 18px;
  line-height: 18px;
  color: var(--secundary-text);
  cursor: pointer;
}


@media (max-width: 767px) {
  .listFavoritsBooksContainer {
    margin-top: 2px;
    width: 100%;
    padding-left: 3px;
  }

  .favoritesBooksHeader h1 {
    font-size: 20px;
    line-height: 23px;
  }

  .favoritesBooksHeader span {
    font-size: 17px;
    line-height: 16px;
  }
}