.styleForSmallScreens {
  display: none;
}

@media (max-width: 768px) {
  .styleForSmallScreens {
    display: block;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
  }

  .headerSmallScreens {
    width: 100%;
    height: 519px;
  }

  .iconsSmallScreens {
    height: 129px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.0001) 100%);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .iconsSmallScreens button {
    background-color: transparent;
    border: none;
  }

  .descriptionSmallScreens {
    width: 100%;
    background-color: var(--bg-primary);
    box-shadow: 0px 1px 1px 0px var(--drop-shadow);
    border-radius: 32px 0 0;
    margin-top: -180px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .nameAuthor {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--primary-text);
    padding-left: 10px;
    margin-bottom: 20px;
  }

  .headerDescriptionSmallScreens {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .headerDescriptionSmallScreens h2 {
    font-size: 20px;
    line-height: 23px;
    color: var(--primary-text);
  }

  .headerDescriptionSmallScreens button {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: flex-start;
  }

  .textDescriptionSmallScreens {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    margin-bottom: 40px;
  }
}